// NEW VERSION

//test
@function col-width($col-items){
	@return  $wrapper-width / $col-max * $col-items
};


$color-primary: #184B84;
// $color-primary: #184B84;
$color-body: #f9f9f9;


$wrapper-width: 100%;
$col-max: 12;

$serif-font: 'Roboto Slab', serif;
$sans-serif-font:'Roboto', sans-serif;



// Fonts

h3 {
	font-family: $serif-font;
	font-weight: 800;
	color: $color-primary;	
	font-size: 1em;
	margin: 0 0  5px 0;
	@media (min-width: 626px) {
		font-size: 1.5em;	
		line-height: 1.5;
	}
}

.date {
	font-family: $sans-serif-font;
	font-weight: 300;
	margin-top: 15px;
	font-size: 0.6em;
	color: grey;
}
.article {
	font-family: $sans-serif-font;
	line-height: 1.8;
	font-weight: 300;
	color: #1e1e1e;

}

.article--head {
	margin: 50px 0;
	font-size: 2em;
}

@mixin flex-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	
}

body {
	background-color: $color-body;
		min-width: 326px;

}



//Nav
#navbar{
	position: fixed;
	overflow: hidden;
	width: 100%;
	background-color: white;
	height: 100px;
	top: 0;
	display: flex;
	transition: 0.2s;
	border-bottom: solid 1px #ddd;

}


#navbar img {
	height: 100px;
	margin: 0 auto;
	width: 100px;

}

.floatingNav {
  width: calc(100vh - 100px); 
  border-radius: 2px;
  box-shadow: 0px 1px 10px #999;
}



// Layout
.wrapper {
	width: $wrapper-width;
	max-width: 900px;
	min-width: 326px;
	margin: auto;
	background-color: white;
	margin-top: 100px;
	
}

.grid-row {
	@include flex-box;
	
}

.card{
	
	margin: 15px 12.5%;
	min-width: 326px;
	@media (min-width: 626px){
		margin: 15px 10%;
	}

}

.card img {
	max-width: 100%;
	max-height: 100%;
}

.header img {
	width: 100%;
	max-width: 500px;
}





.grid__col--12 {
	
	width: 100%;

	

}
.grid__col--7 {
	@include flex-box;
	width: col-width(7);


}
.grid__col--8 {
	
	width: col-width(8);
	flex-grow: 0;

}

.grid__col--6 {
	@include flex-box;
	width: col-width(6);

}

.grid__col--5 {
	@include flex-box;
	width: col-width(5);
}


.grid__col--4 {
	
	width: col-width(4);

}
.grid__col--3 {
	@include flex-box;
	width: col-width(3);
}