// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.card{
	margin: 15px 5%;
	min-width: 326px;
	@media (min-width: 626px){
		margin: 15px 10%;
	}

}

.card img {
	max-width: 100%;
	max-height: 100%;
}

.header img {
	width: 100vw;
	max-width: 500px;
}
.header{
	display: block;
	height: 400px;
}
.header--text{
	background-color: white;
	position: relative;
	top: -275px;
	left: 300px;
	width: 400px;
	padding: 20px;
	@media (max-width: 626px){
		top: -50px;
		left: 20px;
		width: 250px;
	}

}
