.wrapper {
	width: $wrapper-width;
	max-width: 900px;
	min-width: 326px;
	margin: auto;
	background-color: white;
	margin-top: 100px;
	
}

.grid-row {
	@include flex-box;	
}

@function col-width($grid-col__items){
	@return  $wrapper-width / $grid-col__max * $grid-col__items
};


@for $i from 1 through $grid-col__max{
	.grid-col__#{$i}{
		@include flex-box;
		width: col-width($i);
		
	}
}
.grid-flex__column{
	display: flex;
	flex-direction: column;
}

