// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------
@mixin flex-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	
}