// -----------------------------------------------------------------------------
// VARIABLES
// -----------------------------------------------------------------------------

// Colors
$color-highlight: #F71735;
$color-black: #000;
$color-grey: #aaa;

// Font
$font-primary: $color-black;


$color-primary: black;
// $color-primary: #184B84;
$color-body: #f9f9f9;



$serif-font: 'Roboto Slab', serif;
$sans-serif-font:'Roboto', sans-serif;

//  Grid
$grid-col_max: 12;
$wrapper-width: 100%;


